/* BODY */
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/* HEADER */
header{
    background-color:white;
    height: 140px;
    padding: 10px 40px 40px 50px;
    background-position: center;
}
header a{
    text-decoration: none;
}

/* NAVGATION */
#nav{
    text-align: left;
    margin-left: 100px;
}

#nav li{
    display: grid;
    font-size: 15px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

#nav li a{
    color:rgba(41, 33, 33, 0.774);
}

.logo{
    border-radius: 50%;
    margin-left: -65px;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 50px;
    position:relative;
    left:50%;
    display: block;
}
  
/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

/* SPLITTING */
.split{
    height: 100%;
    width: 50%;
    top: 0;
    padding-top: 20px;
    padding-left: 100px;
    margin: auto;
}
.rightLetter{
    right:0;
    text-align: center;
    float: top;
    position: top;
    margin: auto;
    font-size: 35px;
    margin-top:-150px;
    margin-left: 350px;
    margin-bottom: 50px;
}

.right{
    position: relative;
    right: 250px;
}

.left{
    position: fixed;
}

/* FOOTER */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-left:150px;
    color: gray;
}

@media only screen and (max-width: 600px) {
    header{
        background-color:white;
        background-repeat: no-repeat;
        height: 140px;
    }

    li h1{
        display:inline-block;
        font-size: medium;
    }
    
    li a{
        display:inline-block;
        width: 4em;
        font-size: small;
    }

    .logo{
        height: 100px;
        border-radius: 50%;
        margin-left: -15px;
    }

    .left{
        left: -175px;
        position: left;
    }

    .btn{
        font-size: 12px;
        width: 80px;
        height: 38px;
        margin-left: -35px;
    }

    .right{
        right: 100px;
        width: 65%;
    }

    .rightLetter{
        text-align: left;
        float: left;
        margin-top:-100px;
        margin-left: 125px;
        font-size: large;
    }

    footer img{
        height: 20px;
    }
    
  } 

  @media only screen and (min-width:600px) and (max-width: 1200px) {
    header{
        background-color:white;
        background-repeat: no-repeat;
        height: 140px;
    }

    li h1{
        display:inline-block;
        font-size: large;
    }
    
    li a{
        display:inline-block;
        width: 4em;
        font-size: medium;
    }

    .logo{
        height: 150px;
        border-radius: 50%;
        margin-left: -15px;
    }

    .btn{
        font-size: 15px;
        width: 100px;
        height: 50px;
    }

    .left{
        left: -150px;
        position: left;
    }

    div h1{
        font-size: large;
    }

    .right{
        right:155px;
        position: right;
        width: 75%;
        font-size: small;
    }

    .rightLetter{
        text-align: left;
        float: left;
        margin-top:-100px;
        margin-left: 260px;
        font-size: x-large;
    }

    footer img{
        height: 20px;
    }
  } 