/* BODY */
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/* HEADER */
header{
    background-color:white;
    background-repeat: no-repeat;
    height: 140px;
    padding: 10px 40px 40px 50px;
    background-position: center;
}
header a{
    text-decoration: none;
}

/* NAVGATION */
#nav{
    text-align: left;
    margin-left: 100px;
}

#nav li{
    display: grid;
    font-size: 15px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

#nav li a{
    color:rgba(41, 33, 33, 0.774);
}

.logo{
    border-radius: 50%;
    margin-left: -65px;
}

/* SPLITTING */
.split{
    height: 100%;
    width: 50%;
    top: 0;
    padding-top: 20px;
    padding-left: 100px;
    position: top;
    margin: auto;
}
.rightLetter{
    right:0;
    text-align: center;
    float: top;
    position: top;
    margin: auto;
    font-size: 20px;
    margin-top:-150px;
    margin-left: 350px;
}

.right{
    position: relative;
    margin-left: 490px;
}

.right li{
    display: table;
}

.vertical{
    max-width: 60%;
}

.horizontal{
    height: 600px;
}

.left{
    position: fixed;
}

/* FOOTER */
footer{
    position: relative;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;
}