/* BODY */
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    
}

/* HEADER */
header{
    background-color:white;
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    height: 140px;
    padding: 10px 40px 40px 50px;
    background-position: center;
    /*text-align: center;*/
}
header a{
    text-decoration: none;
}

/* SLIDESHOW */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideShowImage{
    width:100%;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* NAVGATION */
#nav{
    text-align: left;
    margin-left: 100px;
}

#nav li{
    display: grid;
    font-size: 15px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

#nav li a{
    color:rgba(41, 33, 33, 0.774);
}

.logo{
    border-radius: 50%;
    margin-left: -65px;
}

.githubLogo{
    float:center;
}

.linkedinLogo{
}

.mailLogo{
    margin-right: 100px;
}

.mailLogo{
    margin-left:-15px;
    margin-top: -10px;
}

.mailto{
    margin-left:-35px;
}

/* SPLITTING */
.split{
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 100px;
}

.left{
    position: fixed;
}

.rightLetter{
    text-align: right;
    float: center;
    margin-top:-100px;
    margin-left: 180px;
}

.rightSlide{
    right:0;
}

.leftCircles{
    display: center;
    margin-left: 200px;
}

.right{
    text-align: right;
    float: center;
}

.leftImage {
    border-radius: 50%;
    left:0;
    margin-left: 100px;
}

/* Animated Letters */
.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 4em;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

  .aboutMe{
      text-decoration: none;
  }

  footer{
      text-align: center;
  }